.about-container {
	display: grid;
	grid-template-columns: 25% 25% 25% 25%;
	width: 100%;
}

.foto-aboutR {
	grid-column: span 1 / -2;
	margin-top: 10%;
	width: 90%;
	margin-left: auto;
	text-align: center;
}

.tekst-aboutR {
	background-color: var(--primaryColor);
	color: white;
	margin-top: 2%;
	text-align: center;
	grid-column: span 1 / -2;
	width: 100%;
	margin-left: auto;
}

.foto-aboutL {
	grid-column: span 1 / -3;
	margin-top: 10%;
	width: 90%;
	margin-right: auto;
	text-align: center;
}

.tekst-aboutL {
	background-color: var(--primaryColor);
	color: white;
	margin-top: 2%;
	text-align: center;
	grid-column: span 1 / -3;
	width: 100%;
	margin-right: auto;
}

.rounded-circle-about {
	border-radius: 50%;
	width: 80%;
}

.margin-about {
	margin-bottom: 2%;
}

@media screen and (max-width: 900px) {
	.about-container {
		display: grid;
		grid-template-columns: 10% 40% 40% 10%;
		width: 100%;
	}
}
