#titelgebruikersprofiel {
	text-align: center;
}

.Gebruikersprofielcontainer {
	display: grid;
	grid-template-columns: 35% 25% 25% 15%;
	width: 100%;
	height: 250px;
	padding: 0 auto;
	line-height: 10px;
	padding-top: 8px;
}

.profielfototje {
	text-align: center;
	width: 100px;
	height: 100px;
	display: block;
	margin-left: auto;
	margin-right: auto;
}

#Buttonaanpassenprofiel {
	border-radius: 8px;
	margin-left: auto;
	margin-right: auto;
	display: block;
}

#Gebruikersprofielstudentinformatierechts {
	height: 270px;
	width: 260px;
	grid-column: span 1 / -3;
	padding: 0px;
	line-height: 15px;
}

#Gebruikersprofielstudentinformatielinks {
	height: 270px;
	width: 260px;
	grid-column: span 1 / -2;
	padding: 0px;
	line-height: 15px;
}

#profielinformatiekleurgrijs {
	color: grey;
}

#Buttonopslaanprofiel {
	text-align: center;
	margin: 20px auto;
	border-radius: 8px;
	margin-left: auto;
	margin-right: auto;
	display: block;
}

@media screen and (max-width: 700px) {
	.Gebruikersprofielcontainer,
	#Gebruikersprofielstudentinformatielinks,
	#Gebruikersprofielstudentinformatierechts {
		grid-column: 1 / 4;
		width: 70%;
		height: 100%;
		margin-left: 5%;
	}
}

@media screen and (max-width: 600px) {
	#Gebruikersprofielstudentinformatierechts,
	#Gebruikersprofielstudentinformatielinks,
	.Gebruikersprofielcontainer {
		grid-column: 1 / 4;
		width: 90%;
		height: 100%;
		margin-left: 5%;
	}
}
.gebruikersProfile {
	margin-top: 20px;
}
.changeprofilepicture {
	text-align: center;
}
