.gebruikertoevoegencss form {
	width: 180px;
	display: block;
	margin: 0 auto;
	margin-top: 50px;
}
.gebruikertoevoegencss label {
	margin-right: 5px;
}
.gebruikertoevoegencss input::-webkit-outer-spin-button,
.gebruikertoevoegencss input::-webkit-inner-spin-button {
	-webkit-appearance: none;
}
.gebruikertoevoegencss#InputAdd {
	width: 500px;
	height: 500px;
	border: 2px solid black;
	margin: 0 auto;
}
.gebruikertoevoegencss .buttons {
	margin-top: 50px;
	display: grid;
	grid-template-columns: auto auto;
	grid-row-gap: 5px;
	width: 180px;
	height: 25px;
}
.gebruikertoevoegencss .buttons input {
	width: 90px;
}
