.Gebruikersoverzichtdocent
{
	margin: 20px;
}


.tableoverzichtdocent
{
	width: 100%;
	border: 1px;
	border-collapse: collapse;
}

.tableoverzichtdocent th,
.tableoverzichtdocent tr,
.tableoverzichtdocent td
{
	border: 1px solid;
	text-align: left;
	width: 32%;
}

#blauwerand
{
	background-color: #005aa7;
}

#wittetekst
{
	color: white;
}