
.labjournaalcontainer3delen {
	text-align: center;
	display: grid;
	grid-template-columns: 33.3% 33.4% 33.3%;
}

.labjournaalcontainer4delen {
	text-align: center;
	display: grid;
	grid-template-columns: 16.7% 33.3% 33.3% 16.7%;
}

.labjournaalcontainer3delen .grotetextarealabjournaal {
	height: 100%;
	width: 90%;
	text-align: center;
	margin-bottom: 10%;
}

.labjournaalcontainer3delen p {
	border-radius: 10px;
	border: 2px solid var(--primaryColor);
	height: 300px;
}

.labjournaalcontainer4delen p {
	border-radius: 10px;
	border: 2px solid var(--primaryColor);
}

.labjournaalcontainer3delen .nieuwetitellabjournaal {
	margin: auto;
	height: 30px;
	width: 600px;
	margin-bottom: 30px;
}

.labjournaalcontainer3delen .grotetextarealabjournaallinks {
	height: 100%;
	width: 90%;
	grid-column: span 1 / -3;
	margin-left: 5%;
	margin-bottom: 5%;
}

.labjournaalcontainer3delen .grotetextarealabjournaalmidden {
	height: 100%;
	width: 90%;
	grid-column: span 1 / -2;
	margin-left: 5%;
	margin-bottom: 5%;
}

.labjournaalcontainer3delen .grotetextarealabjournaalrechts {
	height: 100%;
	width: 90%;
	grid-column: span 1 / -1;
	margin-bottom: 5%;
	margin-left: 5%;
}

.labjournaalcontainer4delen .smalltextarealabjournaallinks {
	height: 100%;
	width: 90%;
	grid-column: span 1 / -3;
	margin-bottom: 5%;
	margin-left: 5%;

}

.labjournaalcontainer4delen .smalltextarealabjournaalrechts {
	height: 100%;
	width: 90%;
	grid-column: span 1 / -2;
	margin-bottom: 5%;
	margin-left: 5%;
}

.titlejaarmargintopviewlabjournaal {
	margin-top: 5%;
}

.labjournaalboxcijfer {
	border: 2px solid var(--primaryColor);
	border-radius: 10px;
	height: 50px;
	width: 100%;
	text-align: center;
}

.labjournaalbuttoncijfer {
	background-color: var(--primaryColor);
	border: none;
	border-radius: 30px;
	color: white;
	margin-top: 2%;
	height: 50px;
	width: 100%;
	text-align: center;
}

.labjournaalbuttonarchive {
	background-color: var(--primaryColor);
	border: none;
	border-radius: 30px;
	color: white;
	height: 50px;
	width: 100%;
	text-align: center;
}

.labjournaaltitle {
	margin: auto;
	height: 50px;
	width: 100%;
	resize: none;
	text-align: center;
	margin-top: 30px;
	margin-bottom: 30px;
}

.fileSource {
	padding: 30px;
	justify-content: center;
	display: flex;
}

@media screen and (max-width: 900px) {

	.labjournaalcontainer3delen {
		text-align: center;
		display: grid;
		grid-template-columns: 5% 90% 5%;
	}
	
	.labjournaalcontainer4delen {
		text-align: center;
		display: grid;
		grid-template-columns: 5% 90% 5%;
	}
	
	.labjournaalcontainer3delen .grotetextarealabjournaalrechts {
		height: 100%;
		width: 90%;
		grid-column: span 1 / -2;
		margin-bottom: 5%;
		margin-left: 5%;
	}

	.labjournaalcontainer3delen .grotetextarealabjournaallinks {
		height: 100%;
		width: 90%;
		grid-column: span 1 / -2;
		margin-left: 5%;
		margin-bottom: 5%;
	}	
	
	.labjournaalcontainer4delen .smalltextarealabjournaallinks {
		height: 100%;
		width: 90%;
		grid-column: span 1 / -2;
		margin-bottom: 5%;
		margin-left: 5%;
	}

	.labjournaalcontainer4delen .smalltextarealabjournaalrechts {
		height: 100%;
		width: 90%;
		grid-column: span 1 / -2;
		margin-bottom: 5%;
		margin-left: 5%;
	}
	
}


