.labjournaalcontainer {
	padding: 20px;
	text-align: center;
	display: flex;
	flex-direction: column;
	grid-template-columns: 660px 660px;
	justify-content: space-around;
	flex-flow: wrap;

}

.labjournaalcontainer .groteretextarealabjournaal {
	height: 200px;
	width: 600px;
	resize: none;
	margin-bottom: 30px;
	text-align: center;
	box-sizing: content-box;
	
	
}

.labjournaalcontainer p {
	border-radius: 10px;
	border: 3px solid blue;
	height: 200px;
	margin-bottom: 30px;
	width: 600px;
	overflow: auto;
}
.labjournaalcontainer .nieuwetitellabjournaal {
	margin: auto;
	height: 30px;
	width: 600px;
	margin-bottom: 30px;
}

.labjournalcontainer .smalltextarealabjournaal {
	margin: auto;
	height: 200px;
	width: 200px;
	resize: none;
	margin-bottom: 30px;
}

.labjournaaltitle {
	margin: auto;
	height: 50px;
	width: 100%;
	resize: none;
	text-align: center;
	margin-top: 30px;
	margin-bottom: 30px;
}
.fileSource {
	padding: 30px;
	justify-content: center;
	display: flex;
}

input {
	margin: auto;
	height: 50px;
	width: 100%;
	resize: none;
	text-align: center;
	margin-top: 30px;
	margin-bottom: 30px;
	margin-right: 160px;
}
