li {
	list-style-type: none;
}
.unclickable{
	pointer-events: none;
}
.selectstudent{
	display: grid;
	grid-template-columns: auto auto;
	font-size: small;
	overflow-y: auto;
	min-width: 430px;
}
.selectstudent pre{
	max-width: 300px;
	padding-top: 0;
}
.selectstudent button{
	width: 58.5px;
}
#selectphp{
	margin-top: 10px;
	width: 250px;
	height: 28px;
	font-size: x-small;
	border-left: 1px;
}
#selectphp th{
	border-bottom: 1px solid black;
	border-left: 1px solid black;
}
#selectphp td{
	border-left: 1px solid black;
}
.help {
	cursor: help;
}
.newlabjournaalcontainer {
	border-radius: 25px;
	padding: 20px;
}

.newlabjournaalcontainer .groteretextarealabjournaal {
	margin: auto;
	height: 150px;
	resize: none;
	margin-bottom: 30px;
}

.newlabjournaalcontainer p {
	border-radius: 10px;
	border: 3px solid blue;
}
.newlabjournaalcontainer .nieuwetitellabjournaal {
	margin: auto;
	height: 30px;
	margin-bottom: 30px;
}
.newlabjournaalcontainer input[type="submit"],
.newlabjournaalcontainer input[type="reset"] {
	margin-top: 30px;
}
