.groteretextarealabjournaal {
	margin: auto;
	height: 200px;
	width: 600px;
	resize: none;
}

.newlabjournaalcontainer
{
	padding: 20px;
	text-align: center;
	display: grid;
	grid-template-columns: 660px 660px;
}

.nieuwetitellabjournaal
{
	margin: auto;
	height: 30px;
	width: 600px;
}