.gebruikersProfile #titelgebruikersprofiel {
	text-align: center;
}

.Gebruikersprofielvakken {
	display: grid;
	grid-template-columns: 35% 25% 25% 15%;
	width: 100%;
	height: 330px;
	line-height: 10px;
	padding-top: 8px;
}

.Gebruikersprofielvakkenstudent {
	display: grid;
	grid-template-columns: 35% 25% 25% 15%;
	width: 100%;
	height: 160px;
	line-height: 10px;
	padding-top: 8px;
}

.Gebruikersprofielvakken2 {
	display: grid;
	grid-template-columns: 35% 25% 25% 15%;
	width: 100%;
	height: 250px;
	line-height: 10px;
	padding-top: 8px;
}

.Gebruikersprofielvakkenspan {
	margin-top: 40px;
	height: 250px;
	width: 260px;
	grid-column: span 1 / -3;
	padding: 0px;
	line-height: 15px;
}

.gebruikersProfile .profielfototje {
	text-align: center;
	width: 100px;
	height: 100px;
	display: block;
	margin-left: auto;
	margin-right: auto;
}

.gebruikersProfile #Buttonaanpassenprofiel {
	border-radius: 8px;
	margin-left: auto;
	margin-right: auto;
	display: block;
}

.gebruikersProfile #Gebruikersprofieldocentinformatie {
	margin-top: 40px;
	height: 330px;
	width: 260px;
	grid-column: span 1 / -3;
	padding: 0px;
	line-height: 15px;
}

.gebruikersProfile #Gebruikersprofielstudentinformatierechts {
	margin-top: 40px;
	height: 330px;
	width: 260px;
	grid-column: span 1 / -3;
	padding: 0px;
	line-height: 15px;
}

.gebruikersProfile #Gebruikersprofielstudentinformatielinks {
	margin-top: 40px;
	height: 330px;
	width: 260px;
	grid-column: span 1 / -2;
	padding: 0px;
	line-height: 15px;
}

.gebruikersProfile #TextInputProfiel {
	color: grey;
	width: 400px;
    border-radius: 10px;
    border: 1px solid grey;
    height: 30px;
    padding: 5px;
}

.gebruikersProfile #Buttonopslaanprofiel {
	text-align: center;
	margin: 20px auto;
	border-radius: 8px;
	margin-left: auto;
	margin-right: auto;
	display: block;
}

@media screen and (max-width: 700px) {
	.gebruikersProfile .Gebruikersprofielvakken,
	.gebruikersProfile #Gebruikersprofielstudentinformatielinks,
	.gebruikersProfile #Gebruikersprofielstudentinformatierechts,
	.Gebruikersprofielvakkenspan {
		grid-column: 1 / 4;
		width: 70%;
		height: 100%;
		margin-left: 5%;
		margin-top: 10%;
	}
}

@media screen and (max-width: 600px) {
	.gebruikersProfile #Gebruikersprofielstudentinformatierechts,
	.gebruikersProfile #Gebruikersprofielstudentinformatielinks,
	.gebruikersProfile .Gebruikersprofielvakken,
	.Gebruikersprofielvakkenspan {
		grid-column: 1 / 4;
		width: 90%;
		height: 100%;
		margin-left: 5%;
		margin-top: 10%;
	}
}

.gebruikersProfile {
	margin-top: 20px;
}

.gebruikersProfile .changeprofilepicture {
	text-align: center;
}

.profileEditButtons {
	text-align: center;
}

#ButtonProfielBlauw {
	background-color: var(--primaryColor);
	border: none;
	border-radius: 30px;
	color: white;
	width: 10%;
}

.languageSwitch {
	border: 1px solid grey;
	border-radius: 30px;
	color: black;
	width: 25%;
}

#ProfilePicButtons {
	background-color: var(--primaryColor);
	border: none;
	border-radius: 30px;
	color: white;
	width: 15%;
}

#ProfilePicButtonsbestand input{
	background-color: var(--primaryColor);
	border: none;
	border-radius: 30px;
	color: white;
	width: 25%;
}