nav .bg-primary {
	background-color: #007bff; !important
}

nav img{
	height: 60px;`
}

nav .nav-item{
	border-right: 1px solid white;
}

.img-logo{
	border-right: 1px solid white;
}

@media (max-width: 767px) {
	nav .nav-item{
		border-right: 0px solid white;
	}
	
	.img-logo{
		border-right: 0px solid white;
	}	
}



.fa-search{
	padding: 5px;
	
}