nav .bg-primary {
	background-color: #298ed4; !important
}

nav img{
	height: 60px;

}

nav nav-item{
	color: white;
}

.streepje{
	height: 20px;
	width: 5px;
	background-color: white;
}

.fa-search{
	padding-top: 3px;
	
}